# Ignore macOS system files
.DS_Store

# Ignore IDE settings
.vscode/
.idea/

# Ignore the PEM file
class-attendance-mk.pem

# Ignore Terraform directory
.terraform/
.terraform.lock.hcl

# Ignore zip files
*.zip